HTML {
    max-height: 100vh;
}

header {
    padding: 4px 0px;
    background-color: #4CAF50;
    /*background-image: linear-gradient(#4CAF50, #66b168);*/
    position: relative;
    top: 0px; left: 0px;
    width: 100%;
}

#logo {
    text-decoration: none;
    color: black;
    padding: 0px 0px 0px 12px;
    font-size: 32px;
}

#logreg {
    position: absolute;
    top: 0px; right: 0px;
    padding: 13px 21px 0px 0px;
    color: white;
}

#logreg>span {
    padding: 0px 3px;
}

#logreg>button {
    position: relative;
    border-radius: 4px;
    border: 2px #4CAF50;
    font-size: 14px;
    height: 20px;
    background-color: white;
}

#logreg>button:hover {
    cursor: pointer;
}

#logreg>button:active {
    background-color: lightgray;
}

#logreg>button>a {
    text-decoration: none;
    color: #306932;
}

body {
    margin: 0;
    width: 100%;
    max-height: 100vh;
    background-repeat:repeat-y;
    background-size: cover;
    /*backdrop-filter: blur(4px);*/
    position: absolute;
    top: 0px; right: 0px; bottom: 0px; left: 0px;
    animation: introb 1s normal 500ms forwards;
}

@keyframes intout {
    from {backdrop-filter: blur(4px)};
    to {backdrop-filter: blur(9px)}
}

@keyframes introb {
    from{backdrop-filter: blur(0px);}
    to{backdrop-filter: blur(4px)};
}

footer {
    background-color: #4CAF50;
    /* background-image: linear-gradient(#4CAF50, #59d35d);*/
    position: absolute;
    bottom: 0px; left: 0px;
    margin: 0px 0px;
    width: 100%;
    height: 42px;
    display:block;
    /* padding: 0px 0px; */
    /* text-align: center; */
}
