<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="styleH.css">
        <link rel="stylesheet" href="styleBase.css">
    </head>
    <body>
        <header>
            <a href="" id="logo">Anime Quiz</a>
            <div id="logreg">
                <button> 
                    <a href="http://localhost:8080/login">login</a>
                </button>
                <span>/</span>
                <button>
                    <a href="http://localhost:8080/register">register</a>
                </button>
           </div>
        </header>
        <div class="row">
            <div class="column left"></div>
            <div class="column middle" id="main">
                <div>
                    <h2>Bem vindo a</h2>
                    <h1>Anime Quiz</h1>
                </div>
                <p></p>
                <a href="http://localhost:8080/quiz" target="_self" id="aplay">Jogar</a>
                <p></p>
                <a href="http://localhost:8080/maker" target="_self" id="amake">Criar</a>
            </div>
            <div class="column right"></div>
        </div>
        <footer>
            <p></p>
        </footer>
    </body>
</html>